

<!-- tool_lifecycle/trigger_preview_link -->
<div id="tool-lifecycle-trigger-preview">
<a href="{{{triggerpreviewurl}}}">{{#str}}previewworkflowselection, tool_lifecycle{{/str}}</a>
</div>
<!-- /tool_lifecycle/trigger_preview_link -->
